/* Work Experiences component */
:local(.main) {
    background-color: #495579;
    color: white;
    padding: 2rem;
}

:local(.companyCon) {
    display: flex;
    align-items: center;    
}

:local(.title) {
    text-decoration: underline;
    padding-left: 2rem;
}

:local(.companyPicCon) {
    padding: 2.5rem !important;
}

:local(.companyPic) {
    border: 8px solid;
    border-color: black;
}

:local(.companyDetails) {
    margin: 0px;
}

:local(.companyIntro) {
    margin: 0px;
}

:local(.companyUl) {
    margin: 0px;
}